@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Lobster&family=Poppins:wght@300;400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";
@plugin "daisyui";


@theme {
  --font-garamond: "EB Garamond", serif; 
  --font-lobster: "Lobster", cursive; 
  --font-poppins: "Poppins", sans-serif; 
  --font-Ubuntu: "Ubuntu", sans-serif;   
}

@layer utilities {
  .transition-smooth {
    @apply transition-all duration-[600ms] ease-in-out;
  }
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
  }
}

@layer base {
  /* Hide default slick arrows */
  .slick-prev,
  .slick-next {
    display: none !important;
  }
  .slick-list{
    border-radius: 8px !important;
  }
}